body {
    /* ----font-family: 'Noto Sans TC', sans-serif;--- */
	margin:0;
	background-image: url("./../images/back2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* -----------------------中間的框框--------------------------- */
#login_frame {
    width: 500px;
    height: 390px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -180px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: center;
}

h.forgot{
    color:#000;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p.forgot_content{
    font-size: 13px;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}
/* --------------------------logo-------------------------- */
#image_logo {
    margin-top: 22px;
}
/* ------------------------帳號 密碼 email 確認密碼欄位---------------------------- */
.label_input {
    font-size: 14px;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #000;
    background-color:#e1e1e1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* ------------------------帳號 密碼 email 確認密碼欄位調整---------------------------- */
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

#btn_send {
    font-size: 14px;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: left;
    color: white;
    background-color: #000000;
    border-radius: 6px;
    border: 0;
    float: left;
    
}
/* ------------------------註冊按鍵---------------------------- */
#btn_register {
    font-size: 14px;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color:#2b303c;
    border-radius: 6px;
    border: 0;
    float:center;
    margin-left: 110px;
    margin-top: 30px;
    }

/* ------------------------返回按鍵---------------------------- */
#btn_back {
    font-size: 14px;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color:#2b303c;
    border-radius: 6px;
    border: 0;
    float: right;
    margin-right: 80px;
    margin-top: 30px;
}

