body {
    /* ----font-family: 'Noto Sans TC', sans-serif;--- */
	margin:0;
    background-image: url("./../images/back2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* --------------------------框框------------------------------- */
#login_frame {
    width: 500px;
    height: 390px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -180px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: center;
}
h.sign{
    color:#000;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------logo------------------------------- */
#image_logo {
    margin-top: 22px;
}
/* --------------------------帳號密碼欄位------------------------------- */
.label_input {
    font-size: 14px;
    font-family: 宋體;
    width: 65px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color:#fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

/* --------------------------登入------------------------------- */
#btn_login {
    font-size: 14px;
   /* -- font-family: 宋體;--- */
    width: 343px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color:#FFFFFF;
    background-color:#2b303c;
    /* --border-radius: 6px;-- */
    border: 0;
    position: fixed;
    float: center;
    margin-top: 70px;
    margin-left: -124px;
}

div.tx ul{
    text-decoration: none;
}

/* --------------------------忘記密碼------------------------------- */
#forget {
    font-size: 12px;
    color:#778485;
    text-decoration: none;
    position: relative;
    float:right;
    margin-right: 50px;
    top: 5px;

}
#forget:hover {
    color: #000;
    text-decoration: underline;
    /*-- font-size: 15px;字型放大我先刪掉喔-- */
}


/* --------------------------註冊帳號------------------------------- */
#account{
    clear: both;
    font-size: 12px;
    color:#778485;
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 50px;
    top: 5px;
    }
#account:hover {
    color: #000;
    text-decoration: underline;
    /*-- font-size: 15px;字型放大我先刪掉喔-- */
}
#login_control {
padding: 0 28px;
}