body {
    font-family: 'Noto Sans TC', sans-serif;
	margin:0;
    background-image: url("./../images/back.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
/* --------------------------框框------------------------------- */
#login_frame {
    width: 500px;
    height: 330px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -180px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: center;
    
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------logo------------------------------- */
#image_logo {
    margin-top: 22px;
}
/* --------------------------帳號密碼欄位------------------------------- */
.label_input {
    font-size: 14px;
    font-family: 宋體;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color:#000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

/* --------------------------登入------------------------------- */
#btn_login {
    font-size: 14px;
    font-family: 宋體;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color:#FFFFFF;
    background-color:#000000;
    border-radius: 6px;
    border: 0;
    float: center;
}

div.tx ul{
    text-decoration: none;
}

/* --------------------------忘記密碼------------------------------- */
#forget {
    font-size: 12px;
    color:rgba(0,0,0,0.7);
    text-decoration: none;
    position: relative;
    float:right;
    margin-right: 50px;
    top: 5px;

}
#forget:hover {
    color: blue;
    text-decoration: underline;
    font-size: 15px;
}


/* --------------------------註冊帳號------------------------------- */
#account{
    clear: both;
    font-size: 12px;
    color:rgba(0,0,0,0.7);
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 50px;
    top: 5px;
    }
#account:hover {
    color: blue;
    text-decoration: underline;
    font-size:15px;
}
#login_control {
padding: 0 28px;
}