@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* ---------------------body------------------------- */
html, body{
	font-family: 'Noto Sans TC', sans-serif;
	margin:0;
	background:rgb(255, 255, 255);	
	width: 100vw;
	height: 100vh;
}
div.wrapper
{
	background:#FFFFFF;
	margin: 0;
    width: 100vw;
    height:90vw;
}
/* --------------------------header開始-------------------------------- */
div.header
{
	background-color:#000;
	width: 100vw;
    height:8vw;
}

div.title{
	position:relative;
	height: 8vw;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

h1.title{
	color: #FFFFFF;
	position: relative;
	text-align: center;
	font-size:25px;
	font-weight:500;
	margin:0;
	top:30px;
}

div.title a{
	clear: both;
	position: relative;
	float:left;
}

img.avatar{
	padding-left: 37.5vw;
	margin-top:-30px;
}


/* ---------------------------header結束----------------------------- */

									/* ------------------------搜尋位置調整---------------------
									div.search ul{
		我先隱藏搜尋 					 height: 50px;
										margin-top:-45px;
										margin-left:50vw;
									}
									---------------------搜尋位置調整結束---------------------- */

/* -------------------------------左方欄開始----------------------------------- */
div.sidebar1{
	/* --border:1px black solid;-- */
	clear: both;
    background-color: #FFFFFF;
    width: 14vw;
    height:90vw;
	float:left;
	margin: 0;
}
div.bd-toc-item {
	width:14vw;
	margin:0;
	text-align: center;
}

div h3.title{
	float: left;
	margin-left: 20px;
	font-size: 20px;
	font-weight:500;
	color: black;
}

div.bd-toc-item ul{
	clear: both;
	float:left;
	margin: 0px 0px 0px 20px;
	padding:0;
	list-style:none;
}
/*左方股票代碼字體樣式*/
div.bd-toc-item ul li a { 
	clear: both;
	float: left;
	color:gray;
	font-size: 14px;
	font-weight: 300;
	line-height:20px;
	text-decoration:none; /*隱藏超連結底線*/
}
/*左方股票代碼字體樣式結束*/

/*滑鼠滑入字體變色*/
div.bd-toc-item ul li a:hover { 
	color: #000;
}
/*滑鼠滑入字體變色結束*/


/* -------------------------------左方欄結束----------------------------------- */

/* -------------------------------content開始----------------------------------- */
div.content{
    /* --border:1px black solid;-- */
    background:#FFFFFF;
    width: 69vw;
    height:90vw;
	float: left; 
	margin: 0;
}

div.title1 h2{
	font-size:24px;   /* -----------------股票名稱-------------------- */
	font-weight:500;
}



div.clear{
	clear:both;	
}

div.newsbar{
	width: 69vw;
}

div.newsbar h2{
    font-size:20px;
	font-weight:450;
}
div.newsbar ul  {
	list-style:none;
	padding-left: 0;
} 
div.newsbar ul li {
	display:inline;
	font-size:12px;
	font-weight:250;
	line-height: 20px;
	margin-left: 15px;
} 

div.clear{
    clear:both;
}


div.pic{
	height: 450px;
	width: 65vw;
}
/* -------------------------------content結束----------------------------------- */

/* -------------------------------新聞開始----------------------------------- */
div.sidebar2{
    /* --border:1px black solid;-- */
    background-color:#FFFFFF;
    width: 17vw;
    height:90vw;
	float: right;
	margin: 0;
}

/* -------------------------------新聞結束----------------------------------- */

/* -------------------------------footer開始------------------------------------- */
div.footer{
    clear: both;
    position: relative;
    height:70px;
    line-height:70px;
    width: 100vw;
    margin-top:3vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#fff;
    background:#003333;
    letter-spacing:1px;

}
/* -------------------------------footer結束------------------------------------- */