@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* ---------------------body------------------------- */
html, body{
	font-family: 'Noto Sans TC', sans-serif;
	margin:0;
	background:rgb(255, 255, 255);	
	width: 100vw;
	height: 300vh;
}
div.wrapper
{
	background:#FFFFFF;
	margin: 0;
    width: 100vw;
    height:300vh;
}
/* --------------------------header開始-------------------------------- */
div.header
{
	background-color:	rgb(130, 202, 154);
	opacity: 0.8;
	width: 100vw;
	height:8vw;
	position:relative;
}

div.title{
	position:relative;
	height: 8vw;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

h1.title{
	color: #000000;
	position: relative;
	text-align: center;
	font-size:25px;
	font-weight:500;
	margin:0;
	top:20px;
}

div.title a{
	clear: both;
	position: relative;
	float:left;
}

img.avatar{
	padding-left: 37.5vw;
	margin-top:-40px;
}


/* ---------------------------header結束----------------------------- */

									/* ------------------------搜尋位置調整---------------------
									div.search ul{
		我先隱藏搜尋 					 height: 50px;
										margin-top:-45px;
										margin-left:50vw;
									}
									---------------------搜尋位置調整結束---------------------- */

/* -------------------------------左方欄開始----------------------------------- */
div.sidebar1{
	/* --border:1px black solid;-- */
	clear: both;
    background-color: #FFFFFF;
    width: 14vw;
    height:90vw;
	float:left;
	margin: 0;
}
div.sidebar1 .bd-toc-item {
	width:14vw;
	margin:0;
	text-align: center;
}

div.sidebar1 .bd-toc-item .text{
	float:left;
	width:10vw;

}
div.sidebar1 .bd-toc-item .img{
	float:right;
	width:3vw;

}

div h3.title{
	float: left;
	font-size: 20px;
	font-weight:500;
	color: black;
	width:13vw;
}

div h4.myfavorite{
	float: left;
	font-size: 17px;
	font-weight:400;
	color: black;
	width:13vw;
}
div h4.otherstock{
	float: left;
	font-size: 17px;
	font-weight:400;
	color: black;
	width:13vw;
}

div.sidebar1 .bd-toc-item .text ul {
	clear: both;
	float:left;
	padding:0;
	list-style:none;
	text-decoration:none;
}
div.sidebar1 .bd-toc-item .img ul {
	clear: both;
	float:left;
	padding:0;
	list-style:none;
	text-decoration:none;
}

div.sidebar1 .bd-toc-item .text ul li{
	clear: both;
	float:left;
	padding:0;
	list-style:none;
	text-decoration:none;
	line-height:20px;
	margin-left: 10px;
}
div.sidebar1 .bd-toc-item .img ul li{
	clear: both;
	float:left;
	padding:0;
	text-decoration:none;
	line-height:30px;
}
/*左方股票代碼字體樣式*/
div.sidebar1 .bd-toc-item .text ul li a { 
	clear: both;
	float: left;
	color:gray;
	font-size: 14px;
	font-weight: 300;
	line-height:30px;
	text-decoration:none; /*隱藏超連結底線*/
}
/*左方股票代碼字體樣式結束*/

/*滑鼠滑入字體變色*/
div.sidebar1 .bd-toc-item .text ul li a:hover { 
	color: #000;
	font-size: 16px;
}
/*滑鼠滑入字體變色結束*/


/* -------------------------------左方欄結束----------------------------------- */

/* -------------------------------content開始----------------------------------- */
div.content{
    /* --border:1px black solid;-- */
    background:#ffffff;
    width: 70vw;
    height:190vw;
	float: left; 
	margin: 0;
	overflow: auto;

}

div.title1 h2{
	font-size:24px;   /* -----------------股票名稱-------------------- */
	font-weight:500;
	color: rgb(70, 26, 26);
}



div.clear{
	clear:both;	
}

div.newsbar{
	background-color: rgb(153, 184, 163);
	width: 69vw;
	height: 640px;
}

div.newsbar h2{
    font-size:25px;
	font-weight:450;
	
}

#preTitle{
	margin-top: -25px;
}

div.button{
	margin-top:-20px;
	margin-left:25px;

}

.today{
	background-color: white; 
 	 color: black; 
  	border: 2px solid #909192a1;
	padding-top: -30px;
	font-size: 15px;
}
.today:hover {
	background-color: #909192a1;
  	color: white;
  }


div.newsbar ul  {
	
	list-style:none;
	margin-left:-25px;
	margin-top:5px;
} 
div.newsbar ul li {
	display:inline;
	font-size:12.5px;
	font-weight:250;
	line-height: 20px;
	margin-left: 15px;
} 

div.clear{
    clear:both;
}


div.pic{
	background-color: rgba(255, 255, 255, 0.568);
	height: 450px;
	width: 69vw;
}

#recommend{
	margin-top: 35px;
}
/* -------------------------------content結束----------------------------------- */

/* -------------------------------新聞開始----------------------------------- */
div.sidebar2{
    /* --border:1px black solid;-- */
    background-color:#fcfcfc;
    width: 16vw;
    height:90vw;
	float: right;
	margin: 0;
	overflow: auto;
}

/* -------------------------------新聞結束----------------------------------- */

/* -------------------------------footer開始------------------------------------- */
div.footer{
    clear: both;
    position: relative;
    height:70px;
    line-height:70px;
    width: 100vw;
    margin-top:3vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#fff;
    background:#003333;
    letter-spacing:1px;

}
/* -------------------------------footer結束------------------------------------- */