<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />      
</head>
<body>
    
<!----------------------------------------------------------->
<div id="wrapper">
    <!--------------------------header------------------------------->
                <div class="header" >
                    <div class="login">
                        {% if current_user.is_authenticated %}
                        <div class="dropdown">
                            <button class="dropbtn"><a href="javascript:history.back()" style="text-decoration:none;color:#000;font-size: 16px; margin-top: 2px;">back</a></button>
                          </div>
                        {% endif %}
                    </div>

                    <div class="title">
                        <h1 class="title">資訊股分析網</h1>
                        <a href="javascript:saveFav('{{stock}}')"><img src="{{ url_for('static', filename='images/icon.png') }}"  width="47" height="47" class="avatar"></a>
                    </div>  
    
                        
            </div>
            <div class="fakeHeader" ></div>
    <!---------------------------header結束------------------------------>
        
    <!---------------------------sidebar1---------- class="bd-toc-link" style="font-weight:bold; color: black; font-size:20px;"------------------->
        <div class="sidebar1">
            <div class="bd-toc-item">

            </div>
        </div>
      
    <!---------------------------sidebar1結束------------------------------>
        
    
    <!---------------------------content開始------------------------------->
        <div class="content">
            <div>
                <h2>帳號</h2>
                <h3 onclick="change(0)" style="cursor: pointer;">修改密碼</h3>
                <h3 onclick="change(1)" style="cursor: pointer;">修改信箱</h3>
            </div>
            <div>
                <h2>提醒設定</h2>
                <h3>每日寄送關注股票之預測分析信件</h3>
                {% if aa == "0" %}
                <button onclick="self.location.href='/dailyMail/0'">同意</button>
                {% elif aa == "1" %}
                <button onclick="self.location.href='/dailyMail/1'">取消</button>
                {% endif %}
            </div>
            <div>
                <h2>更改顯示內容和順序</h2>
                <h3 id="change0">走勢圖</h3> <button onclick="down(0)">往下</button>
                <h3 id="change1">預測分析</h3> <button onclick="up(1)">往上</button><button onclick="down(1)">往下</button>
                <h3 id="change2">財務分析</h3> <button onclick="up(2)">往上</button><button onclick="down(2)">往下</button>
                <h3 id="change3">技術分析</h3> <button onclick="up(3)">往上</button><button onclick="down(3)">往下</button>
                <h3 id="change4">討論區</h3> <button onclick="up(4)">往上</button>
                <br>
                <button onclick="savInd()">儲存</button><button onclick="reInd()">取消</button>
            </div>

        <!---------------------------footer開始------------------------------->
        <div class="footer">
            &copyntubimd 109403組
        </div>
        <!---------------------------footer結束-------------------------------> 
    </div>
    <!---------------------------content結束------------------------------->
    </div>
    <!------------------wrapper範圍------------------------>
    <!---------------------------連結------------------------------->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message[0] == "訊" %}
                    <script type="text/javascript">
                        alert("{{message[1:]}}")
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    <script type="text/javascript">
        var aa = ["走勢圖", "預測分析", "財務分析", "技術分析", "討論區"];
        var b = {{ind}};
        var aaa = {{ind}};
        var id = ["change0", "change1", "change2", "change3", "change4"]
        for(var i=0; i<5; i++){
            c = document.getElementById(id[i]);
            c.innerHTML = aa[b[i]];
        }

        function up(num){
            var u = b[num];
            var d = b[num-1];
            b[num] = d;
            b[num-1] = u;
            refersh();
        }

        function down(num){
            var u = b[num+1];
            var d = b[num];
            b[num+1] = d;
            b[num] = u;
            refersh();
        }

        function refersh(){
            for(var i=0; i<5; i++){
                c = document.getElementById(id[i]);
                c.innerHTML = aa[b[i]];
            }
        }

        function reInd(){
            for(var i=0; i<5; i++){
                c = document.getElementById(id[i]);
                c.innerHTML = aa[aaa[i]];
            }
        }
        
        function savInd(){
            var re = "";
            for(var i=0; i<5; i++){
                re += b[i];
                if (i!=4)
                    re+="-"
            }
            scrollPos = document.body.scrollTop;
            window.location.href="/savInd/" + re;
        }

    window.onbeforeunload = function () {
        var scrollPos;
        scrollPos = document.body.scrollTop;

    }

    window.onload = function () {
        if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
            var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不為空,則讀取滾動條位置
            document.documentElement.scrollTop = parseInt(arr[1]);
            document.body.scrollTop = parseInt(arr[1]);
        }
    }

    function change(a){
        if (a == 0)
            window.location.href="/changePasswd";
        else if (a == 1)
            window.location.href="/changeMail";
    }
    </script>