<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>aaa專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet" type="text/css" />      
</head>
<body>
<!---------------------------------------------->
<div id="wrapper">
    <div id="header-wrapper">
            <div class="title">
                <img src="{{ url_for('static', filename='images/icon.png') }}"  width="80" height="80" class="avatar">
                <h1 class="title">資訊股分析網</h1>
            </div>
            <form action="/" method="post">

            </form>  
        </div>
</div>
<!---------------------------------------------->
<div class="container">
    <!---------------------------------------------->
    {% if err == 1%}
        <h1>輸入錯誤</h1>
    {% endif %}
    <table class="table"> 
        <tr class="hover"> 
            <td><a href="/chart/30days/2427"><img src="{{ url_for('static', filename='images/2427.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/2427.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/2453"><img src="{{ url_for('static', filename='images/2453.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/2453.jpg') }}"  width="250vw" height="130vh" ></a></td>
            <td><a href="/chart/30days/2468"><img src="{{ url_for('static', filename='images/2468.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/2468.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/2471"><img src="{{ url_for('static', filename='images/2471.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/2471.jpg') }}"  width="250vw" height="130vh" ></a></td> 
        </tr> 
        <tr class="hover"> 
            <td><a href="/chart/30days/2480"><img src="{{ url_for('static', filename='images/2480.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/2480.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/3029"><img src="{{ url_for('static', filename='images/3029.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/3029.jpg') }}"  width="250vw" height="130vh" ></a></td>
            <td><a href="/chart/30days/3130"><img src="{{ url_for('static', filename='images/3130.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/3130.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/4994"><img src="{{ url_for('static', filename='images/4994.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/4994.jpg') }}"  width="250vw" height="130vh" ></a></td> 
        </tr> 
        <tr class="hover"> 
            <td><a href="/chart/30days/5203"><img src="{{ url_for('static', filename='images/5203.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/5203.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/6112"><img src="{{ url_for('static', filename='images/6112.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/6112.jpg') }}"  width="250vw" height="130vh" ></a></td>
            <td><a href="/chart/30days/6183"><img src="{{ url_for('static', filename='images/6183.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/6183.jpg') }}"  width="250vw" height="130vh" ></a></th> 
            <td><a href="/chart/30days/6214"><img src="{{ url_for('static', filename='images/6214.png') }}"  width="250vw" height="130vh" ><img src="{{ url_for('static', filename='images/6214.jpg') }}"  width="250vw" height="130vh" ></a></td> 
        </tr> 
      </table>
    
        <!---------------------------------------------->                 
        <div class="clear"></div> 
		
    
</div>
<!---------------------------------------------->

<!---------------------------------------------->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

</body>
</html>
