<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />      
</head>
<body>
<!----------------------------------------------------------->
<div id="wrapper">
<!--------------------------header------------------------------->
        <div class="header" >
            <div class="title">
                <h1 class="title">資訊股分析網</h1>
                <a href="/"><img src="{{ url_for('static', filename='images/icon.png') }}"  width="80" height="80" class="avatar"></a>
            </div>     

                    <!---<div class="search">
                        <ul>
                            <img id="searchIcon" width="24px" src="https://s.yimg.com/cv/apiv2/twstock/icon-search.png"
                                srcset="https://s.yimg.com/cv/apiv2/twstock/icon-search@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/icon-search@3x.png 3x" />
      我先隱藏搜尋               <input id="stock_id" type="text" name="stock_id" placeholder="搜尋台股代號/名稱" />
                                <img id="closeBtn" src="https://s.yimg.com/cv/apiv2/twstock/cancel.png"
                                srcset="https://s.yimg.com/cv/apiv2/twstock/cancel@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/cancel@3x.png 3x"
                                style="cursor: pointer; display: none" />
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">搜尋</button>
                        </ul>
                    </div>  ----> 
        </div>
<!---------------------------header結束------------------------------>
    
<!---------------------------sidebar1---------- class="bd-toc-link" style="font-weight:bold; color: black; font-size:20px;"------------------->
    <div class="sidebar1">
        <div class="bd-toc-item">
            <h3 class="title">
                資訊股代號
            </h3>
                <ul>
                    <li>
                        <a href="/chart/{{cType[0]}}/2427">2427三商電 <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/2453">2453凌群   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/2468">2468華經   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/2471">2471資通   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/2480">2480敦陽   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/3029">3029零壹   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/3130">3130一零四 <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/4994">4994傳奇   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/5203">5203訊連   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/6112">6112聚碩   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/6183">6183關貿   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                    <li>
                        <a href="/chart/{{cType[0]}}/6214">6214精誠   <img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a>
                    </li>
                </ul>
        </div>
    </div>
<!---------------------------sidebar1結束------------------------------>


<!---------------------------content開始------------------------------->
    <div class="content">
        <div class="title1"><h2>{{name}}</h2></div>   
        {% if cType[0] == "30days"%}
        <div class="newsbar">
                <h2>近30日走勢圖</h2>
                <!--<div class="navbar1">-->
                    <ul>
                        <li>成交量:{{re[0]}}</li>
                        <li>成交金額:{{re[1]}}</li>
                        <li>成交筆數:{{re[2]}}</li>
                        <li>最高:{{re[3]}}</li>
                        <li>最低:{{re[4]}}</li>
                        <li>漲跌:{{re[5]}}</li>
                        <li>均價:{{re[6]}}</li>
                    </ul>
                <!--</div>-->
                <div class="pic">
                    <canvas id="canvas3"></canvas>
                </div>
            
        </div>
        {% endif %}
                 
    </div>
<!---------------------------content結束------------------------------->


<!---------------------------新聞開始------------------------------->
    <div class="sidebar2">新聞</div>
<!---------------------------新聞結束------------------------------->



<!---------------------------footer開始------------------------------->
<div class="footer">
        &copyntubimd2020
    </div>
<!---------------------------footer結束-------------------------------> 
</div>


<!------------------wrapper範圍------------------------>


<!---------------------------連結------------------------------->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script type="text/javascript">
    var datelist = {{re[7]|safe}};
    var closelist= {{re[8]|safe}};
    var translist = {{re[9]|safe}};
    var time = {{today[0]|safe}};
    var closetoday = {{today[1]|safe}};
    var transtoday = {{today[2]|safe}};
    var c = {{cType[1]|safe}};

    var lineChartData3 = {
        labels: time, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closetoday, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transtoday, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var lineChartData = {
        labels: datelist, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closelist, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: translist, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };


    function drawLineCanvas(ctx,data) {
        window.myLine = new Chart(ctx, {  //先建立一個 chart
            data: data,
            options: {
                responsive: true,
                legend: { //是否要顯示圖示
                    display: true,
                },
                tooltips: { //是否要顯示 tooltip
                    enabled: true
                },
                scales: {  //是否要顯示 x、y 軸
                    xAxes: [{
                        display: true
                    },],
                    yAxes: [{
                        display: true
                    },{
                        id: 'y-axis-1',
                        position: 'right',
                        display: true
                    }]
                },
            }
        });
    };

    window.onload = function () {
        if (c == 0){
            var ctx = document.getElementById("canvas").getContext("2d");
            drawLineCanvas(ctx,lineChartData);
        }
        else if (c == 1){
            var ctx3 = document.getElementById("canvas3").getContext("2d");
            drawLineCanvas(ctx3,lineChartData3);
        }
    };
</script>
</body>
</html>
