<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />      
</head>
<body>
<!----------------------------------------------------------->
<div id="wrapper">
    <!--------------------------header------------------------------->
            <div class="header" >
                <div class="title">
                    <h1 class="title">資訊股分析網</h1>
                    <a href="/"><img src="{{ url_for('static', filename='images/icon.png') }}"  width="80" height="80" class="avatar"></a>
                </div>     
    
                        <!---<div class="search">
                            <ul>
                                <img id="searchIcon" width="24px" src="https://s.yimg.com/cv/apiv2/twstock/icon-search.png"
                                    srcset="https://s.yimg.com/cv/apiv2/twstock/icon-search@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/icon-search@3x.png 3x" />
          我先隱藏搜尋               <input id="stock_id" type="text" name="stock_id" placeholder="搜尋台股代號/名稱" />
                                    <img id="closeBtn" src="https://s.yimg.com/cv/apiv2/twstock/cancel.png"
                                    srcset="https://s.yimg.com/cv/apiv2/twstock/cancel@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/cancel@3x.png 3x"
                                    style="cursor: pointer; display: none" />
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">搜尋</button>
                            </ul>
                        </div>  ----> 
            </div>
    <!---------------------------header結束------------------------------>
        
    <!---------------------------sidebar1---------- class="bd-toc-link" style="font-weight:bold; color: black; font-size:20px;"------------------->
        <div class="sidebar1">
            <div class="bd-toc-item">
                <h3 class="title">
                    資訊股代號
                </h3>
                <h4 class="myfavorite">
                    我的最愛
                </h4>
                <div class="text">
                    <ul>
                        <li>
                        <h class="2427text" style="display: none;"><a href="/index/2427">2427三商電 </a></h>
                        </li>
                        <li>
                        <h class="2453text"style="display: none;"><a href="/index/2453">2453凌群 </a></h>
                        </li>
                        <li>
                        <h class="2468text"style="display: none;"><a href="/index/2468">2468華經 </a></h>
                        </li>
                        <li>
                        <h class="2471text"style="display: none;"><a href="/index/2471">2471資通 </a></h>
                        </li>
                        <li>
                        <h class="2480text"style="display: none;"><a href="/index/2480">2480敦陽 </a></h>
                        </li>
                        <li>
                        <h class="3029text"style="display: none;"><a href="/index/3029">3029零壹 </a></h>
                        </li>    
                        <li>
                        <h class="3130text"style="display: none;"><a href="/index/3130">3130一零四 </a></h>
                        </li> 
                        <li>
                        <h class="4994text"style="display: none;"><a href="/index/4994">4994傳奇 </a></h>
                        </li>        
                        <li>
                        <h class="5203text"style="display: none;"><a href="/index/5203">5203訊連 </a></h>
                        </li>
                        <li>
                        <h class="6112text"style="display: none;"><a href="/index/6112">6112聚碩 </a></h>
                        </li>
                        <li>
                        <h class="6183text"style="display: none;"><a href="/index/6183">6183關貿 </a></h>
                        </li>
                        <li>
                        <h class="6214text"style="display: none;"><a href="/index/6214">6214精誠 </a></h>
                        </li>       
                    </ul>
                    
                </div>
                <h4 class="otherstock">
                    所有代號
                </h4>
                <div class="text">
                    <ul>
                        <li>
                            <a href="/index/2427">2427三商電 </a>
                        </li>
                        <li>
                            <a href="/index/2453">2453凌群 </a>
                        </li>
                        <li>
                            <a href="/index/2468">2468華經 </a>
                        </li>
                        <li>
                            <a href="/index/2471">2471資通</a>
                        </li>
                        <li>
                            <a href="/index/2480">2480敦陽</a>
                        </li>
                        <li>
                            <a href="/index/3029">3029零壹 </a>
                        </li>
                        <li>
                            <a href="/index/3130">3130一零四</a>
                        </li>
                        <li>
                            <a href="/index/4994">4994傳奇 </a>
                        </li>
                        <li>
                            <a href="/index/5203">5203訊連 </a>
                        </li>
                        <li>
                            <a href="/index/6112">6112聚碩</a>
                        </li>
                        <li>
                            <a href="/index/6183">6183關貿 </a>
                        </li>
                        <li>
                            <a href="/index/6214">6214精誠 </a>
                        </li>
                    </ul>
                </div>
                <div class="img">
                    <ul>
                        <li>
                            <button class="button2427"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>
                        </li>
                        <li>
                            <button class="button2453"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button2468"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button2471"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button2480"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button3029"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button3130"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        </li>
                        <li>
                            <button class="button4994"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button5203"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button6112"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button6183"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                        <li>
                            <button class="button6214"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
    <!---------------------------sidebar1結束------------------------------>
    
    
    <!---------------------------content開始------------------------------->
        <div class="content">
            <div class="title1"><h2>{{name}}</h2></div>
    <!---------------------------第一塊圖表開始------------------------------->           
                <div class="newsbar">
                    <h2>圖表</h2>
                    <div class="button">
                        <button type="button1" class="today" onclick="butCha(0)">
                            當日
                        </button>
                        <button type="button1" class="today" onclick="butCha(1)">
                            近三十日
                        </button>
                    </div>
                    <!--<div class="navbar1">-->
                        <ul id="detail">
                            <li>開盤價:{{today[3][0]}}</li>
                            <li>最高價:{{today[3][1]}}</li>
                            <li>最低價:{{today[3][2]}}</li>
                            <li>收盤價:{{today[3][3]}}</li>
                            <li>總交易量:{{today[3][4]}}</li>
                        </ul>
                    <!--</div>-->
                    <div class="pic">
                        <canvas id="canvasCha"></canvas>
                    </div>
                </div>           
    <!---------------------------第一塊圖表結束------------------------------->      
    
    <!---------------------------第二塊預測開始------------------------------->
                <div class="newsbar">
                    <h2>預測圖表</h2>
                    <div class="button">
                        <button type="button1" class="today" onclick="butPre(0)">
                            預測圖表
                        </button>
                        <button type="button1" class="today" onclick="butPre(1)">
                            歷史圖表
                        </button>
                    </div>
                    
                    <div class="pic">
                        <canvas id="canvasPre"></canvas>
                    </div>
                </div>                   
    <!---------------------------第二塊預測結束------------------------------->

    <!---------------------------第三塊財務分析開始------------------------------->
                <div class="newsbar">
                    <h2>財務分析</h2>
                    <div class="button">
                        <button type="button1" class="today" onclick="butFin(0)">
                            個股月營收
                        </button>
                        <button type="button1" class="today" onclick="butFin(1)">
                            成長性分析
                        </button>
                        <button type="button1" class="today" onclick="butFin(2)">
                            股利政策
                        </button>
                        <button type="button1" class="today" onclick="butFin(3)">
                            獲利能力分析(季)
                        </button>
                        <button type="button1" class="today" onclick="butFin(4)">
                            資本形成-股東權益(季)
                        </button>
                        <button type="button1" class="today" onclick="butFin(5)">
                            現今分析(年)
                        </button>
                        <button type="button1" class="today" onclick="butFin(6)">
                            償還能力分析(季)
                        </button>
                        <button type="button1" class="today" onclick="butFin(7)">
                            經營能力分析(年)
                        </button>
                    </div>
                    
                    <div class="pic">
                        <canvas id="canvasFin"></canvas>
                    </div>
                </div>           
    <!---------------------------第三塊財務分析結束------------------------------->

    <!---------------------------第四塊技術分析開始------------------------------->
                <div class="newsbar">
                    <h2>技術分析</h2>
                    <div class="button">
                        <button type="button1" class="today" onclick="butTec(0)">
                            RSI線
                        </button>
                        <button type="button1" class="today" onclick="butTec(1)">
                            KD線
                        </button>
                        <button type="button1" class="today" onclick="butTec(2)">
                            MACD線
                        </button>
                        <button type="button1" class="today" onclick="butTec(3)">
                            BIAS線
                        </button>
                    </div>
                    
                    <div class="pic">
                        <canvas id="canvasTec"></canvas>
                    </div>
                </div>                     
    <!---------------------------第四塊技術分析結束------------------------------->
            </div>
    <!---------------------------content結束------------------------------->
    
    
    <!---------------------------新聞開始------------------------------->
        <div class="sidebar2">新聞</div>
    <!---------------------------新聞結束------------------------------->
    
    
    
    <!---------------------------footer開始------------------------------->
        <div class="footer">
            &copyntubimd 109403組
        </div>
    <!---------------------------footer結束-------------------------------> 
    </div>
    
    
    <!------------------wrapper範圍------------------------>
    
    
    <!---------------------------連結------------------------------->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script type="text/javascript">
        var dateMon = {{re[7]|safe}};
    var closeMon= {{re[8]|safe}};
    var transMon = {{re[9]|safe}};
    var time = {{today[0]|safe}};
    var closetoday = {{today[1]|safe}};
    var transtoday = {{today[2]|safe}};
    var typeCha = {{chartTy|safe}};

    $('#detail').empty();
    $('#detail').append("<ul id='detail'><li>開盤價:{{today[3][0]}}</li><li>最高價:{{today[3][1]}}</li><li>最低價:{{today[3][2]}}</li><li>收盤價:{{today[3][3]}}</li><li>總交易量:{{today[3][4]}}</li></ul>");

    function butCha(aa){
        $('#detail').empty();
        if (aa == 1){
            drawCha.config.data = chartMon;
            $('#detail').append("<ul id='detail'><li>成交量:{{re[0]}}</li><li>成交金額:{{re[1]}}</li><li>成交筆數:{{re[2]}}</li><li>最高:{{re[3]}}</li><li>最低:{{re[4]}}</li><li>漲跌:{{re[5]}}</li><li>均價:{{re[6]}}</li></ul>");
        }
        else if (aa == 0){
            drawCha.config.data = chartDay;
            $('#detail').append("<ul id='detail'><li>開盤價:{{today[3][0]}}</li><li>最高價:{{today[3][1]}}</li><li>最低價:{{today[3][2]}}</li><li>收盤價:{{today[3][3]}}</li><li>總交易量:{{today[3][4]}}</li></ul>");
        }
        
        drawCha.update();
    }

    function butPre(aa){
        if (aa == 1)
            drawPre.config.data = chartDataPre;
        else if (aa == 0)
            drawPre.config.data = chartDataPre;
        drawPre.update();
    }

    function butFin(aa){
        if (aa == 0)
            drawFin.config.data = chartData1;
        else if (aa == 1)
            drawFin.config.data = chartData2;
        else if (aa == 2)
            drawFin.config.data = chartData3;
        else if (aa == 3)
            drawFin.config.data = chartData4;
        else if (aa == 4)
            drawFin.config.data = chartData5;
        else if (aa == 5)
            drawFin.config.data = chartData6;
        else if (aa == 6)
            drawFin.config.data = chartData7;
        else if (aa == 7)
            drawFin.config.data = chartData8;
        drawFin.update();
    }

    function butTec(aa){
        if (aa == 0)
            drawTec.config.data = chartRsi;
        else if (aa == 1)
            drawTec.config.data = chartKd;
        else if (aa == 2)
            drawTec.config.data = chartMacd;
        else if (aa == 3)
            drawTec.config.data = chartBias;
        drawTec.update();
    }

    function clearCanvas(){
        ctxCha.remove(); // this is my <canvas> element
        
    }
    var chartDay = {
        labels: time, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closetoday, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transtoday, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var chartMon = {
        labels: dateMon, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closeMon, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transMon, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var datePre = {{pre[5]|safe}};
    var closePre= {{pre[1]|safe}};
    var transPre = {{pre[4]|safe}};

    var chartDataPre = {
        labels: datePre, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closePre, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transPre, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var time1 = {{fin[1][0]|safe}};
    var data1 = {{fin[1][1]|safe}};
    var data2 = {{fin[1][2]|safe}};
    var data3 = {{fin[1][3]|safe}};
    var data4 = {{fin[1][4]|safe}};
    var data5 = {{fin[1][5]|safe}};
    var data6 = {{fin[1][6]|safe}};
    var data7 = {{fin[1][7]|safe}};
    var name1 = {{fin[0]|safe}};

    var chartData1 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[4], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data4, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[5], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data5, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData2 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[4], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data4, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData3 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[4], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data4, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[5], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data5, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[6], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data6, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[7], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data7, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData4 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[4], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data4, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        },{
            type: 'bar',
            label: name1[5], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data5, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData5 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData6 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'bar',
            label: name1[3], // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data3, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
            lineTension: 0, // 曲線的彎度，設0 表示直線
        }]
    };

    var chartData7 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: name1[2], // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: data2, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var chartData8 = {
        labels: time1, //顯示區間名稱
        datasets: [{
            type: 'bar',
            label: name1[1], // tootip 出現的名稱
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: data1, // 資料
            fill: false, // 是否填滿色彩
        }]
    };

    var rsi = {{tec[0]|safe}};
    var k = {{tec[1]|safe}};
    var d = {{tec[2]|safe}};
    var dif = {{tec[3]|safe}};
    var macd = {{tec[4]|safe}};
    var bias = {{tec[5]|safe}};

    var chartRsi = {
        labels: dateMon, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closeMon, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transMon, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },{
            type: 'line',
            label: 'rsi', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#f57f24",
            borderColor: "#f57f24",
            borderWidth: 5,
            data: rsi, // 資料
            fill: false, // 是否填滿色彩
        }]
    };

    var chartKd = {
        labels: dateMon, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closeMon, // 資料
            fill: false, // 是否填滿色彩
        },
        {
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transMon, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },
        {
            type: 'line',
            label: 'k', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#f5cf24",
            borderColor: "#f5cf24",
            borderWidth: 5,
            data: k, // 資料
            fill: false, // 是否填滿色彩
        },
        {
            type: 'line',
            label: 'd', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#f57f24",
            borderColor: "#f57f24",
            borderWidth: 5,
            data: d, // 資料
            fill: false, // 是否填滿色彩
        }]
    };

    var chartMacd = {
        labels: dateMon, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closeMon, // 資料
            fill: false, // 是否填滿色彩
        },{
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transMon, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },
        {
            type: 'line',
            label: 'macd', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#f5cf24",
            borderColor: "#f5cf24",
            borderWidth: 5,
            data: macd, // 資料
            fill: false, // 是否填滿色彩
        },
        {
            type: 'line',
            label: 'dif', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#f57f24",
            borderColor: "#f57f24",
            borderWidth: 5,
            data: dif, // 資料
            fill: false, // 是否填滿色彩
        }]
    };

    var chartBias = {
        labels: dateMon, //顯示區間名稱
        datasets: [{
            type: 'line',
            label: '收盤價', // tootip 出現的名稱
            lineTension: 0, // 曲線的彎度，設0 表示直線
            backgroundColor: "#ea464d",
            borderColor: "#ea464d",
            borderWidth: 5,
            data: closeMon, // 資料
            fill: false, // 是否填滿色彩
        },
        {
            type: 'bar',
            label: '交易量', // tootip 出現的名稱
            backgroundColor: "#055ffa",
            borderColor: "#055ffa",
            borderWidth: 2,
            data: transMon, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        },
        {
            type: 'bar',
            label: 'bias', // tootip 出現的名稱
            backgroundColor: "#f57f24",
            borderColor: "#f57f24",
            borderWidth: 2,
            data: bias, // 資料
            fill: false, // 是否填滿色彩
            yAxisID: 'y-axis-1',
        }]
    };

    var ctxCha = document.getElementById("canvasCha").getContext("2d");
    var ctxPre = document.getElementById("canvasPre").getContext("2d");
    var ctxFin = document.getElementById("canvasFin").getContext("2d");
    var ctxTec = document.getElementById("canvasTec").getContext("2d");
    var drawCha = new Chart(ctxCha,{  //先建立一個 chart
        data: chartDay,
        options: {
            responsive: true,
            legend: { //是否要顯示圖示
                display: true,
            },
            tooltips: { //是否要顯示 tooltip
                enabled: true
            },
            scales: {  //是否要顯示 x、y 軸
                xAxes: [{
                    display: true
                },],
                yAxes: [{
                    display: true
                },{
                    id: 'y-axis-1',
                    position: 'right',
                    display: true
                }]
            },
        }
    });
    var drawPre = new Chart(ctxPre,{  //先建立一個 chart
        data: chartDataPre,
        options: {
            responsive: true,
            legend: { //是否要顯示圖示
                display: true,
            },
            tooltips: { //是否要顯示 tooltip
                enabled: true
            },
            scales: {  //是否要顯示 x、y 軸
                xAxes: [{
                    display: true
                },],
                yAxes: [{
                    display: true
                },{
                    id: 'y-axis-1',
                    position: 'right',
                    display: true
                }]
            },
        }
    });
    var drawFin = new Chart(ctxFin,{  //先建立一個 chart
        data: chartData1,
        options: {
            responsive: true,
            legend: { //是否要顯示圖示
                display: true,
            },
            tooltips: { //是否要顯示 tooltip
                enabled: true
            },
            scales: {  //是否要顯示 x、y 軸
                xAxes: [{
                    display: true
                },],
                yAxes: [{
                    display: true
                },{
                    id: 'y-axis-1',
                    position: 'right',
                    display: true
                }]
            },
        }
    });
    var drawTec = new Chart(ctxTec,{  //先建立一個 chart
        data: chartRsi,
        options: {
            responsive: true,
            legend: { //是否要顯示圖示
                display: true,
            },
            tooltips: { //是否要顯示 tooltip
                enabled: true
            },
            scales: {  //是否要顯示 x、y 軸
                xAxes: [{
                    display: true
                },],
                yAxes: [{
                    display: true
                },{
                    id: 'y-axis-1',
                    position: 'right',
                    display: true
                }]
            },
        }
    });
    </script>
    
</body>
</html>
