<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />      


</head>
<body>
<!---------------------------------------------->


<div class="container">
<!---------------------------------------------->

<div class="content">
    <div class="title">
        <img src="{{ url_for('static',filename='images/1.jpg')}}" class="avatar">
        <h1 class="title">股票分析網站</h1>
    </div>
    <div class="searchInput" style="background: #fff;">
        <img id="searchIcon" width="16px" src="https://s.yimg.com/cv/apiv2/twstock/icon-search.png" srcset="https://s.yimg.com/cv/apiv2/twstock/icon-search@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/icon-search@3x.png 3x"/>
        <input id="stock_id" type="text" name="stock_id" placeholder="搜尋台股代號/名稱"/>
        <img id="closeBtn" src="https://s.yimg.com/cv/apiv2/twstock/cancel.png" srcset="https://s.yimg.com/cv/apiv2/twstock/cancel@2x.png 2x, https://s.yimg.com/cv/apiv2/twstock/cancel@3x.png 3x" style="cursor: pointer; display: none"/>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
        搜尋
        </button>
    </div>

</form>
<div class="stockSearch">

    <img src="https://s.yimg.com/cv/apiv2/twstock/stock-list_1543909743394.png" srcset="https://s.yimg.com/cv/apiv2/twstock/stock-list@2x_1543909743407.png 2x, https://s.yimg.com/cv/apiv2/twstock/stock-list@3x_1543909743401.png 3x"/>
    <span>資訊服務類股代號查詢</span>

    <div class='allstock'>
        <table class="comicGreen">
            <tbody>
            <tr>
            <td>2427三商電</td>
            <td>2453凌群</td>
            <td>2468華經</td>
            <td>2471資通</td>
            <td>2480敦陽</td>
            </tr>
            <tr>
            <td>3029零壹</td>
            <td>3130一零四</td>
            <td>4994傳奇</td>
            <td>5203訊連</td>
            <td>6112聚碩</td>
            </tr>
            <tr>
            <td>6183關貿</td>
            <td>6214精誠</td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            </tbody>
            </table>

    </div>


</div>


<div class="title1">
    <h2>2427三商電</h2>
</div>
        



<div class="navbar">
    <ul>
        <li>成交量:{{re[0]}}</li>
        <li>成交金額:{{re[1]}}</li>
        <li>成交筆數:{{re[2]}}</li>
        <li>最高:{{re[3]}}</li>
        <li>最低:{{re[4]}}</li>
        <li>漲跌:{{re[5]}}</li>
        <li>均價:{{re[6]}}</li>
    </ul>
</div>

<div class="newsbar">
<div class="news">
    <h2>近30日走勢圖</h2>
    <canvas id="canvas">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
        <script type="text/javascript">
        var datelist = {{datelist2|safe}};
        var closelist= {{closelist2|safe}};
        var translist = {{translist2|safe}};
                
        var lineChartData = {
            labels: datelist, //顯示區間名稱
            datasets: [{
                type: 'line',
                label: '收盤價', // tootip 出現的名稱
                lineTension: 0, // 曲線的彎度，設0 表示直線
                backgroundColor: "#ea464d",
                borderColor: "#ea464d",
                borderWidth: 5,
                data: closelist, // 資料
                fill: false, // 是否填滿色彩
            },{
                type: 'bar',
                label: '交易量', // tootip 出現的名稱
                backgroundColor: "#055ffa",
                borderColor: "#055ffa",
                borderWidth: 2,
                data: translist, // 資料
                fill: false, // 是否填滿色彩
                yAxisID: 'y-axis-1',
            }]
        };
        function drawLineCanvas(ctx,data) {
            window.myLine = new Chart(ctx, {  //先建立一個 chart
                data: data,
                options: {
                    responsive: true,
                    legend: { //是否要顯示圖示
                        display: true,
                    },
                    tooltips: { //是否要顯示 tooltip
                        enabled: true
                    },
                    scales: {  //是否要顯示 x、y 軸
                        xAxes: [{
                            display: true
                        },],
                        yAxes: [{
                            display: true
                        },{
                            id: 'y-axis-1',
                            position: 'right',
                            display: true
                        }]
                    },
                }
            });
        };
        window.onload = function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            drawLineCanvas(ctx,lineChartData);
        };
        </script>
     </canvas>
     
</div>
                
             
            <div class="clear"></div> 
		

</div>
<!---------------------------------------------->


<div class="footer">
取得更多資訊
</div>


</div>
<!---------------------------------------------->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
</body>
</html>
