<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登入頁面</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />   
        <script type="text/javascript" src="static/scripts/login.js"></script>
    </head>
    <body>
        <div id="login_frame">
            <p id="image_logo"><img src="{{ url_for('static', filename='images/icon.png') }}" width="80" height="80"></p>
            <h class="sign">───── Sign in ─────</h>
            <form method="post" action="login.js">

            <!--登入失敗回傳帳號-->
            <p><label class="label_input"><img src="static/images/username.png" width="28" height="28"></label><input type="text" id="username" class="text_field"  placeholder="Username"
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message[0] == "帳" %}
                            value="{{message[1:]}}"
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}></p>

            <p><label class="label_input" ><img src="static/images/lock.png" width="28" height="28"></label><input type="password" id="password" class="text_field" placeholder="Password"> </p>

            <!--登入失敗訊息-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message == "誤" %}
                            <a>帳號或密碼錯誤</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

                <div id="login_control">
                    <div class="tx">
                        <ul>
                            <a id="forget" href="/forget">忘記密碼</a>
                        </ul> 
                        <ul> 
                            <a id="account" href="/account">註冊帳號</a>
                        </ul> 
                        <ul> 
                            <a id="account" href="/manage">管理帳號</a>
                        </ul> 
                    </div>
                    <input type="button" id="btn_login" value="Login" onclick="login();"/>

                </div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message[0] == "訊" %}
                    <script type="text/javascript">
                        alert("{{message[1:]}}")
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
</body>
</html>