<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>專題-股票分析</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />      
</head>
<body>

<!----------------------------------------------------------->
<div id="wrapper">
    <!--------------------------header------------------------------->
            <div class="header" >
                <div class="login">
                    {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn"><img src="/static/images/user.png"  width="25" height="25"><a>{{current_user.id}}</a><img src="/static/images/down.png"  width="35" height="35"></button>
                        <div class="dropdown-content">
                            <a href="javascript:saveFav('setting')">Setting</a>
                            <a href="javascript:saveFav('logout')">Log Out</a>
                        </div>
                      </div>
                    {% endif %}
                </div>
                <div class="title">
                    <h1 class="title">資訊股分析網</h1>
                    <a href="javascript:saveFav('{{stock}}')"><img src="{{ url_for('static', filename='images/icon.png') }}"  width="47" height="47" class="avatar"></a>
                </div>          
            </div>
    <!---------------------------header結束------------------------------>
        
    <!---------------------------sidebar1---------- class="bd-toc-link" style="font-weight:bold; color: black; font-size:20px;"------------------->
    <div class="sidebar1">
        <div class="bd-toc-item">
            <h3 class="title">
                資訊股代號
            </h3>
            <h4 class="myfavorite">
                我的最愛
            </h4>
            <div class="text">
                <ul>
                    <li>
                    <h class="2427text" style="display: none;"><a href="javascript:saveFav('2427')">2427三商電 </a></h>
                    </li>
                    <li>
                    <h class="2453text"style="display: none;"><a href="javascript:saveFav('2453')">2453凌群 </a></h>
                    </li>
                    <li>
                    <h class="2468text"style="display: none;"><a href="javascript:saveFav('2468')">2468華經 </a></h>
                    </li>
                    <li>
                    <h class="2471text"style="display: none;"><a href="javascript:saveFav('2471')">2471資通 </a></h>
                    </li>
                    <li>
                    <h class="2480text"style="display: none;"><a href="javascript:saveFav('2480')">2480敦陽 </a></h>
                    </li>
                    <li>
                    <h class="3029text"style="display: none;"><a href="javascript:saveFav('3029')">3029零壹 </a></h>
                    </li>    
                    <li>
                    <h class="3130text"style="display: none;"><a href="javascript:saveFav('3130')">3130一零四 </a></h>
                    </li> 
                    <li>
                    <h class="4994text"style="display: none;"><a href="javascript:saveFav('4994')">4994傳奇 </a></h>
                    </li>        
                    <li>
                    <h class="5203text"style="display: none;"><a href="javascript:saveFav('5203')">5203訊連 </a></h>
                    </li>
                    <li>
                    <h class="6112text"style="display: none;"><a href="javascript:saveFav('6112')">6112聚碩 </a></h>
                    </li>
                    <li>
                    <h class="6183text"style="display: none;"><a href="javascript:saveFav('6183')">6183關貿 </a></h>
                    </li>
                    <li>
                    <h class="6214text"style="display: none;"><a href="javascript:saveFav('6214')">6214精誠 </a></h>
                    </li>       
                </ul>
                
            </div>
            <div class="img">
                <ul>
                    <li>
                        <button class="but2427" style="display: none;" onclick="newFav('2427')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>
                    </li>
                    <li>
                        <button class="but2453" style="display: none;" onclick="newFav('2453')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but2468" style="display: none;" onclick="newFav('2468')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but2471" style="display: none;" onclick="newFav('2471')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but2480" style="display: none;" onclick="newFav('2480')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but3029" style="display: none;" onclick="newFav('3029')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but3130" style="display: none;" onclick="newFav('3130')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but4994" style="display: none;" onclick="newFav('4994')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but5203" style="display: none;" onclick="newFav('5203')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but6112" style="display: none;" onclick="newFav('6112')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but6183" style="display: none;" onclick="newFav('6183')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="but6214" style="display: none;" onclick="newFav('6214')"><img src=" {{ url_for('static', filename='images/minus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                </ul>    
            </div>
            <h4 class="otherstock">
                所有代號
            </h4>
            <div class="text">
                <ul>
                    <li>
                        <a class="text2427" href="javascript:saveFav('2427')">2427三商電 </a>
                    </li>
                    <li>
                        <a class="text2453" href="javascript:saveFav('2453')">2453凌群 </a>
                    </li>
                    <li>
                        <a class="text2468" href="javascript:saveFav('2468')">2468華經 </a>
                    </li>
                    <li>
                        <a class="text2471" href="javascript:saveFav('2471')">2471資通</a>
                    </li>
                    <li>
                        <a class="text2480" href="javascript:saveFav('2480')">2480敦陽</a>
                    </li>
                    <li>
                        <a class="text3029" href="javascript:saveFav('3029')">3029零壹 </a>
                    </li>
                    <li>
                        <a class="text3130" href="javascript:saveFav('3130')">3130一零四</a>
                    </li>
                    <li>
                        <a class="text4994" href="javascript:saveFav('4994')">4994傳奇 </a>
                    </li>
                    <li>
                        <a class="text5203" href="javascript:saveFav('5203')">5203訊連 </a>
                    </li>
                    <li>
                        <a class="text6112" href="javascript:saveFav('6112')">6112聚碩</a>
                    </li>
                    <li>
                        <a class="text6183" href="javascript:saveFav('6183')">6183關貿 </a>
                    </li>
                    <li>
                        <a class="text6214" href="javascript:saveFav('6214')">6214精誠 </a>
                    </li>
                </ul>
            </div>
            <div class="img">
                <ul>
                    <li>
                        <button class="button2427" onclick="newFav('2427')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>
                    </li>
                    <li>
                        <button class="button2453" onclick="newFav('2453')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button2468" onclick="newFav('2468')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button2471" onclick="newFav('2471')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button2480" onclick="newFav('2480')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button3029" onclick="newFav('3029')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button3130" onclick="newFav('3130')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        </li>
                    <li>
                        <button class="button4994" onclick="newFav('4994')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button5203" onclick="newFav('5203')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button6112" onclick="newFav('6112')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button6183" onclick="newFav('6183')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                    <li>
                        <button class="button6214" onclick="newFav('6214')"><img src=" {{ url_for('static', filename='images/plus.png'  ) }}  "width="10" height="10" class="plus"></a></button>                        
                    </li>
                </ul>    
            </div>
        </div>
    </div>
<!---------------------------sidebar1結束------------------------------>
    
    
    <!---------------------------content開始------------------------------->
    <div class="content">
        <div class="news">
        <div class="title1"><h2>{{name}}</h2></div>
        <ul>
        {% for i in range(n) %}
            <li>
                <a href = "{{news['網址'][i]}}" target="_blank">{{news['標題'][i]}}</a>
                <h5>{{news['來源'][i]}}  {{news['日期'][i]}}</h5>
            </li>
        {% endfor %}
        </ul>
    </div>

    <!---------------------------footer開始------------------------------->
        <div class="footer">
            &copyntubimd 109403組
        </div>
    <!---------------------------footer結束-------------------------------> 
    </div>
    
    
    <!------------------wrapper範圍------------------------>
    
    
    <!---------------------------連結------------------------------->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script type="text/javascript">
    var fav = {{reFav|safe}};

    fav.forEach(element => {
            var z = '.'+ element +'text'
            var a = '.'+ 'but' +element
            var b = '.'+ 'text' +element
            var c = '.'+ 'button' +element
            $(z).toggle(); 
            $(a).toggle(); 
            $(b).toggle(); 
            $(c).toggle(); 
        });

    function newFav(aa){
        if (fav.indexOf(aa) == -1)
            fav.push(aa);
        else
            fav.splice(fav.indexOf(aa),1);
    }

    function saveFav(aa){
        if (fav.length == 0){
            if (aa == "logout")
                window.location.href="/newFav/logout/" + aa + "/non";
            else
                window.location.href="/newFav/index/" + aa + "/non";
        }
        else if (aa == "logout")
            window.location.href="/newFav/logout/" + aa + "/" + fav.join("-");
        else
            window.location.href="/newFav/index/" + aa + "/" + fav.join("-");
    }

    function saveFavNews(aa){
        if (fav.length == 0)
            window.location.href="/newFav/news/" + aa + "/non";
        else
            window.location.href="/newFav/news/" + aa + "/" + fav.join("-");
    }
    </script>
</body>
</html>
